<footer>
    <div class="footer-content">
        <div class="footer-links">
            <a href="assets/docs/Futurearcwhitepaper.pdf" target="_blank" rel="noopener noreferrer">Whitepaper</a>
            <a href="cookies.html" target="_blank" rel="noopener noreferrer">Cookies</a>
            <a href="about.html" target="_blank" rel="noopener noreferrer">Om oss</a>
            <a href="contactus.html" target="_blank" rel="noopener noreferrer">Kontakta oss</a>
            <a href="copyright.html" target="_blank" rel="noopener noreferrer">Copyright</a>
            <a href="privacypolicy.html" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
        </div>
        <div class="social-icons">
            <a href="https://www.linkedin.com/company/futurearcmedia" class="social-link" aria-label="LinkedIn" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://x.com/future_arcmedia" class="social-link" aria-label="Twitter" target="_blank">
                <i class="fab fa-x-twitter"></i>
            </a>
            <a href="https://www.instagram.com/futurearcmedia" class="social-link" aria-label="Instagram" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.tiktok.com/@futurearcmedia" class="social-link" aria-label="TikTok" target="_blank">
                <i class="fab fa-tiktok"></i>
            </a>
        </div>
        <p style="margin-top: 1rem;">&copy; 2025 Future Arc. Alla rättigheter förbehållna.</p>
    </div>
</footer>