<section class="hero">
    <!-- Dekorativa ikoner -->
    <i class="fas fa-code floating-icon icon-1"></i>
    <i class="fas fa-laptop-code floating-icon icon-2"></i>
    <i class="fas fa-terminal floating-icon icon-3"></i>
    <i class="fas fa-microchip floating-icon icon-4"></i>
    <i class="fas fa-database floating-icon icon-5"></i>
    <i class="fas fa-network-wired floating-icon icon-6"></i>
    <i class="fas fa-robot floating-icon icon-7"></i>

    <!-- beta markering som ska bort vid lansering av riktiga sidan -->
    <div class="beta-tag">Beta v1</div>
    <!-- Hero text -->
    <h2>Tillsammans bygger vi framtidens <br> tech <span class="highlight">communit<span class="y-letter">y</span></span>, en plats där idéer växer<br>och utvecklare når sin fulla potential.</h2>
    <p>Bygg din 🫵 kunskap, skapa värdefulla nätverk och <br> forma din framtid inom tech med oss 🧑‍💻.</p>
    <a href="about.html" class="cta">Läs mer om oss</a>
    <!-- Intro video från intro.html -->
    <div class="intro-video">
        <video width="100%" controls >
            <source src="assets/videos/intro.mp4" type="video/mp4" loading="lazy">
            Din webbläsare stödjer inte video-taggen.
        </video>
    </div>
</section>

