<section class="news">
    <h2>Senaste Nyheterna</h2>
    <div class="articles">
        <article>
            <h3>Ny AI-modell släppt!</h3>
            <p>Utforska de senaste framstegen inom artificiell intelligens och hur de påverkar vår vardag.</p>
            <a href="#" class="read-more">Läs Mer</a>
        </article>
        <article>
            <h3>Introduktion till Python</h3>
            <p>Lär dig grunderna i Python och ta dina första steg inom programmering.</p>
            <a href="#" class="read-more">Läs Mer</a>
        </article>
        <article>
            <h3>Molnbaserad Teknik</h3>
            <p>Utforska hur molnteknik revolutionerar olika industrier och möjliggör nya lösningar.</p>
            <a href="#" class="read-more">Läs Mer</a>
        </article>
        <article>
            <h3>Test</h3>
            <p>Utforska hur molnteknik revolutionerar olika industrier och möjliggör nya lösningar.</p>
            <a href="#" class="read-more">Läs Mer</a>
        </article>
        <article>
            <h3>test</h3>
            <p>Utforska hur molnteknik revolutionerar olika industrier och möjliggör nya lösningar.</p>
            <a href="#" class="read-more">Läs Mer</a>
        </article>
        <article>
            <h3>test</h3>
            <p>Utforska hur molnteknik revolutionerar olika industrier och möjliggör nya lösningar.</p>
            <a href="#" class="read-more">Läs Mer</a>
        </article>
    </div>
</section>
